.place-card {
    position: relative;
    cursor: pointer;

    .place-image {
        max-height: 132px;
    }

    .place-logo {
        position: absolute;
        top: 105px;
        left: 16px;
        height: 100px;
        width: 100px;
        background: white;
        box-shadow: -3px -1px 36px -18px;
        border: 1px solid #cacaca;
    }

    .place-content {
        margin-left: 120px;
    }
}